$def with (query1,operator1,query2,operator2,query3,searchEngine1,searchEngine2,searchEngine3,searchEngine4,searchEngine5,radioQE,sources,SEdrop,QR,link,title,snippet,page,nowPage,dataDoc,startDoc)

<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Semantic MSE UNIB</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />	
		<script type="text/javascript" src="/src/jquery-2.1.1.min.js"></script>	
		<link rel="stylesheet" href="/src/Style_Prototipe2.css" type="text/css" />
	</head>
	<body>
		<div class="wrapper">					
				<form name="main" method="post">
				<center>
					<div class="container">
						<div class="imageLogo">
							<h1 type="logo">Semantic MSE UNIB</h1>
							<!-- img src="/images/logo.png" style="height: 150px; width: 360px" -->
						</div>
						
						<hr>
						
						<div class="query">
							<ul>
								<li>$:query1.render()</li>
								<li>$:operator1.render()</li>
								<li>$:query2.render()</li>
								<li>$:operator2.render()</li>
								<li>$:query3.render()</li>
							</ul>
						</div>
						
						<div class="searchEngine" align="center">
							<ul>
							<table class="tg">
								<tr>
									<td><label type="checkbox">Search Engine</label></td>
									<td><label type="checkbox">:</label></td>
									<td>
										<li>$:searchEngine1.render()</li>
										<li><label type="checkbox" for="search_engine1">Google</label></li>
										<li>$:searchEngine2.render()</li>
										<li><label type="checkbox" for="search_engine2">Bing</label></li>
										<li>$:searchEngine3.render()</li>
										<li><label type="checkbox" for="search_engine3">Lycos</label></li>
										<li>$:searchEngine4.render()</li>
										<li><label type="checkbox" for="search_engine4">Exalead</label></li>
										<li>$:searchEngine5.render()</li>
										<li><label type="checkbox" for="search_engine5">Ask</label></li>
									</td>
								</tr>
								
								<tr>
									<td><label type="checkbox">Query Rewriting</label></td>
									<td><label type="checkbox">:</label></td>
									<td>$:radioQE.render()</td>
								</tr>
								
								<tr>
									<td><label type="checkbox">Source</label></td>
									<td><label type="checkbox">:</label></td>
									<td>$:sources.render()</td>
								</tr>
								
							</table>
							</ul>
						</div>
						
						<div>
							<ul>
								<li><input type="submit" name="form_action" value="Search" id="submitButton" /></li>
							</ul>	
						</div>					

					</div><!-- .container-->				
				</center>
				<br>
				
				<div class="result">
					<center>
						<table class="tg">
							<tr>
								<label type="proses">Data Document</label>								
							</tr>
						</table>
					</center>	
					
					<table class="tg">
						<tr>
							<br>
						</tr>
						<tr>
							<td><label type="indexPage">Go to Search Engine</label></td>
							<td>$:SEdrop.render()</td>
							<td/>
							<td/>
							<td><input type="submit" name="form_action" id="submitGo" value="See"/><td>
						</tr>
					</table>
					
					<table class="tg">					
						<tr>
							<td><label type="indexPage">Query Rewriting</label></td>
							<td><label type="indexPage">:</label></td>
							<td/>
							<td><label type="indexPage">$:QR</label></td>
						</tr>					
					</table>
					
					<hr>
					<br>
					
					<table class="tg">	
						<tr>
							$code:
								a = startDoc+1
								z = startDoc+len((link))
							<label type="infoPage">Page $:nowPage, $:a-$:z of $:dataDoc results</label>
						</tr>
						<tr>
							<br>
							<br>
						</tr>
					</table>
					
					<table class="tg">
						$for x in range(len(link)):
						<tr>
							<br>
							<a href=$link[x] type="result">$title[x]</a>								
						</tr>
						
						<tr>
							<br>
						</tr>
						
						<tr>
							<br>
							<label type="snippet"> $snippet[x] </label>
							<br>
						</tr>
					</table>
						
					<center>
						<table class="tg">
							<tr>
								<br>
								<br>
							</tr>
							<tr>
								<td><label type="indexPage">Go to page</label></td>
								<td>$:page.render()</td>
								<td/>
								<td/>
								<td><input type="submit" name="form_action" id="submitGo" value="GO"/><td>
							</tr>
						</table>
					</center>
					<center>
							<table class="tg">
								<tr>
									<br>
								</tr>
								<tr>
									<td><input type="submit" name="form_action" id="submitGo" value="Back"/><td>
								</tr>
							</table>
						</center>
				</div><!-- .result -->	
			
			</form>				

						
			<div class="footer">
			<br>
			<label type="footer">&#9400; 2015 Gries Yulianti (G1A011045)
			<br>
			All Reserved by Faculty of Engineering, Informatics Engineering Department, University of Bengkulu</label>
			</div><!-- .footer -->
		
		</div><!-- .wrapper -->

	</body>
</html>
